
<!-- ------FOOTER será chamado no APP.COMPONENT---- -->



<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top corPreto">
	<p class="col-md-4 mb-0 corBranca">&copy; 2022. Einstein Hellmeister Soares </p>

	<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
	  <i class="bi bi-bookmark-check-fill " style=" color: rgb(255, 255, 255); font-size: 32px;"></i>
	  <!-- <span class="logo-name2 corBranca">FRopee</span> -->
    <img class="logoFooter" src="../../../assets/img/FRopee-trsp.png" alt="">
	</a>

	<ul class="nav col-md-4 justify-content-end ">
	  <li class="nav-item "><a href="https://www.consultoriafr.com.br/" class="nav-link px-2  corLaranja">FR Consultoria</a></li>
	  <li class="nav-item"><a href="https://www.linkedin.com/company/fernandes-rodrigues-consultores-associados/" class="nav-link px-2  corLaranja">LinkedIn</a></li>
	</ul>
</footer>
