<!---------Chamando o componente Header------------>
<app-header></app-header>

<!-- Corpo da Main : onde é disposto os Cards  -->
<main class="container py-4 w-75 corFundo">

  <!-- Campo de pesquisa e filtros  -->
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class=" col-md-6 px-0 mt-2">
      <p class="lead mb-0">Encontre os produtos </p>
      <div class="d-flex">
        <input type="search" id="myInput" class="form-control" placeholder="Pesquisar Produtos" [formControl]="search">
        <button class="btn btn-lg btn-success" (click)="pesquisarProduto(this.search.value)">Pesquisar</button>
      </div>

    </div>

    <div class="col-6 my-2">
      <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
      <option selected>Filtrar por:</option>
      <option value="dataCadastro">Data de Cadastro</option>
      <option value="id">ID</option>
      <option value="nomeProduto">Nome do Produto</option>
      </select>
    </div>
    <div class="col-6 my-2">
      <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
      <option selected>Ordenar por:</option>
      <option value="dataCadastro">Data de Cadastro</option>
      <option value="id">ID</option>
      <option value="Valor">Valor</option>
      </select>
    </div>


  </div>

  <div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" >

        <!------- Card default ------>
        <div class="col" *ngFor='let item of data.data' >
          <div class="card mb-4 rounded-3 shadow-sm border-black">
            <div class="card-header py-3 text-white d-flex align-items-center justify-content-center corClara border-black size-header">

              <span><h3 class="my-0 mx-2 fw-bold text-black">{{item.Id}}</h3></span>
              <span><h4 class="my-0 mx-2 fw-normal text-black">{{item.Nome}}</h4></span>

            </div>
            <div class="card-body">

              <ul class="list-unstyled mt-2 mb-2">
                <li><strong>Data de Cadastro: </strong> {{item.DataCadastro | date : 'dd/MM/yyyy'}}</li>
                <li><strong>Data de Validade: </strong> {{item.DataValidade | date : 'dd/MM/yyyy' }}</li>
                <li><img class="fotoProduto" src="{{item.Img != null ? item.Img : '../assets/img/no-image.jpeg'}} " alt=""> </li>

              </ul>
              <h1 class="card-title pricing-card-title">R$ {{item.Valor}}</h1>
              <button type="button" class="w-100 btn btn-lg btn-success">Mai Informações</button>
            </div>
          </div>
        </div>

      </div>

    </div>
</main>

<!---------Chamando o componente Footer------------>
<app-footer></app-footer>


<router-outlet></router-outlet>
